/** @type {import("../src/config").ApplicationConfig} */
const config = {
  serverConfig: {
    port: 8087,
    domain: 'example.com',
  },
  dbConfig: {
    connectionString: '123ruirr',
  },
};

module.exports = {
  config,
};
