/** @type {Omit<import("../src/config").ApplicationConfig, 'nodeEnv' | 'isProduction'>} */
const config = {
  serverConfig: {
    port: 8085,
    domain: 'example.com',
  },
  dbConfig: {
    connectionString: '123ruirr',
  },
};

module.exports = {
  config,
};
